@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "Inter", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "PlayfairDisplay", serif;
    font-weight: bold;
    line-height: 1;
}

@layer utilities {
    .custom-container {
        @apply mx-8 md:mx-16 lg:mx-32;
    }
}